<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="css/bootstrap.5.0.2/bootstrap.min.css">
    <script defer src="js/bootstrap.5.0.2/bootstrap.bundle.min.js"></script>

    {{{customstyle}}}
    <title>{{{title}}}</title>

</head>
<body>

    <div class="container bg">

        <!--Logo-->
        
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <img src="/img/carpool.png" alt="" class="rounded mx-auto d-block logo">
            </div>
            <div class="col-4"></div>
        </div>
    </div>

    {{{body}}}
      
</body>
</html>