<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/bootstrap.5.0.2/bootstrap.min.css">
    <script defer src="/js/bootstrap.5.0.2/bootstrap.bundle.min.js"></script>    
    
    <!--Local Files-->
    <link rel="stylesheet" href="/css/home.css">
    <title>Car Pool</title>
</head>
<body>
    
    {{{body}}}
    

    
    
</body>
</html>