<div class="container">
    <div class="row">
        
        <div class="col">
            <p class="Montserrat text-center welcome">Your upcoming rides</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <button class="btn btn-light btn-lg btn-block rounded-pill Montserrat float-start" id="driverButton">As Driver</button>
            <button class="btn btn-light btn-lg btn-block rounded-pill Montserrat float-end" id="passengerButton">As Passenger</button>
        </div>
        <div class="col-2"></div>
    </div>
</div>